PORT=3000
CORS_ORIGIN=http://your-domain.com
DATABASE_URL=postgresql://user:password@localhost:5432/habit_tracker
ACCESS_TOKEN_SECRET=your_access_token_secret_key
REFRESH_TOKEN_SECRET=your_refresh_token_secret_key
JWT_EXPIRES_IN=7d